/* first section style  */
header {
    width: 1300px;
    margin: 0 auto;
}
header li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}
.display-flex {
    display: flex;
}

.first-container {
    align-items: center;
    justify-content: space-between;

}
.first-list {
    gap: 34px;
}
.first-title {
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
}

.first-list {
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 50px;
}

/* second  section style  */
.second-container {
    align-items: center;
    justify-content: space-between;
    background: url(../images/Screenshot\ 2025-01-19\ 000338.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.second-image {
    width: 440px;
height: 414px;
}
.socond-title {
    width: 582px;
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 3rem;
font-weight: 700;
line-height: 70px;
letter-spacing: 0px;
text-align: left;
}
.second-subtitle {
    width: 505px;
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
.second-btn {
    width: 196px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;

    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}

/* third section styles  */
.third-container {
    
    width: 1110px;
    margin: 170px auto;
    
}
.third-container img {
    width: 110px;
    height: 100px;
    margin-right: 60px;
}
.background {
    background-color: white;
}
/* .alibaba {
    width: 85px;
height: 80px;
margin-top: 211px;
}
.amazone {
    width: 85px;
height: 80px;
} */

/* main section styles  */
main {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.main {
    align-items: center;
    justify-content: center;
    
}
.main-title {
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1.8rem;
font-weight: 600;
line-height: 70px;
letter-spacing: 0px;
text-align: left;
}

/* fourth section style  */
.fourth-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 30px; */
}
.fourth-container {
    border-radius: 5px;

box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
/* background: rgb(255, 255, 255); */
width: 300px;
height: 470px;
padding: 14px;
margin-bottom: 30px;
}
.fourth-container img {
    width: 300px;
}
.fourth-title {
    width: 151px;
    color: rgb(24, 25, 31);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
margin-top: 5px;
margin-bottom: 2px;
}
.fourth-money {
    width: 82px;
    color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin-top: 2px;
margin-bottom: 2px;

}
.fourth-star {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 0px;
}
.fourth-des {
    color: rgb(120, 120, 133);
    width: 196px;
font-family: Inter;
font-size: .8rem;
font-weight: 700;
line-height: 143%;
letter-spacing: 1.8%;
text-align: left;
}
.fourth-see-more {
    margin-left: 960px;
    color: rgba(224, 44, 109, 0.87);
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}

/* fifth section styles */
.fifth-section {
    width: 1200px;
    margin: 0 auto;
    gap: 96px;
    margin-bottom: 100px;
}
.fifth-title {
    width: 610px;
    color: rgb(10, 8, 38);
font-family: Poppins;
font-size: 2.2rem;
font-weight: 700;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 5px;
}
.fifth-subtitle {
    width: 501px;
    color: rgb(108, 108, 108);
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
}
.fifth-btn {
    width: 155px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background: rgb(224, 44, 109);
    border: none;
    color: white;
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}